@import url(color.css);
@import url('https://unpkg.com/css.gg/icons/all.css');
.wrap {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
header {
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.logo {
    background: url(/business/images/logo.svg) no-repeat center;
    background-size: contain;
    color: var(--green);
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    padding: 64px 0 0;
    text-align: center;
    width: 50px;
}
nav {
    height: 80px;
    left: 200px;
    position: absolute;
    top:0;
}
nav ul {
    align-items: center;
    display: flex;
    gap: 24px;
    height: 80px;
}
nav a {
    color: var(--green) !important; 
}
nav a:hover {
    color: var(--gold-light) !important; 
}
.tel {
    align-items: center;
    color: var(--white);
    display: flex;
    font-size: 20px;
    height: 80px;
    position: absolute;
    right: 100px;
    top: 0;
}
.searchBtn {  
    --ggs: 1.3;
    align-items: center;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 20px;
    width: 40px;
}
section {
    min-height: 300px;
    padding: 100px 0;
}
section h3 {
    font-size: 40px;
    padding: 0 0 32px;
    text-align: center;
    text-transform: uppercase;
}
#home {
    background: linear-gradient(135deg, var(--blue-light), var(--blue-dark));
    color: var(--green);
    height: 100vh;
    padding: 0;
}
#home .wrap {
    height: 100vh;
}
.slogan {
    left: 0;
    position: absolute;
    top: 25vh;
}
.slogan * {
    font-size: 48px;
}
.slogan * span { color: var(--red); }
.slogan h2 {
    transform: translateX(100px);
}
.scroll {
    --ggs: 1.6;
    align-items: center;
    bottom: 40px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: 40px;
    left: 50%;
    margin: 0 0 0 -20px;
    justify-content: center;
    position: absolute;
    width: 40px;
}
.play {
    --ggs: 3;
    align-items: center;
    background: linear-gradient(var(--blue-light), var(--blue));
    border-radius: 100%;
    box-shadow: 0 8px 24px -4px var(--blue-dark);
    bottom: 40px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 100px;
}
.circle {
    bottom: 0; 
    height: 100vh;
    left:0;
    overflow: hidden;
    position: absolute;
    right:0;
}
.brd {
    background: linear-gradient(45deg, var(--red-dark), var(--red-dark));
    border-radius: 100%; 
    box-shadow:0 0 8vmin -2vmin hsl(303, 92%, 41%), 0 0 20vmin -1vmin var(--red-light) inset, 0 -2vmin 20vmin -1vmin hsl(320, 100%, 67%) inset, 0 -5vmin 5vmin rgba(75, 1, 45, 1) inset;
    position: absolute;
    filter: drop-shadow(5vmin 6vmin 6vmin  rgba(20, 20, 70, 0.7));
    width: 50vmin;
}
.brd:nth-child(1) {
    border-radius: 57% 43% 39% 61% / 57% 49% 51% 43% ;
    height: 80vmin; 
    top: -10vmin;
    right: -20vmin; 
    width: 80vmin;

}
.brd:nth-child(2) {
    border-radius: 37% 63% 52% 48% / 41% 68% 32% 59%;
    filter: drop-shadow(-5vmin 5vmin 6vmin  rgba(20, 20, 70, .25));
    height: 40vmin;
    right: -20vmin;
    transform: rotate(16deg);
    top: 45vmin;
}
.brd:nth-child(3) {
    border-radius: 54% 46% 39% 61% / 41% 55% 45% 59% ;
    bottom: 5vh;
    height: 25vmin;
    left: -10vmin; 
    transform: rotate(-25deg);
    width: 40vmin;
}
.fade {
    animation: fade .3s 1s both;
    opacity: 0;
    transform: translateY(-5px);
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    z-index: 10;
}

#what {
    min-height: 400px;
    padding: 100px 0;
    position: relative;
}
#what::after {
    background: linear-gradient(-90deg,hsla(332, 100%, 55%, 0), 60%, var(--gold));
    border-radius: 56% 44% 44% 56% / 59% 36% 64% 41%;
    bottom: 0;
    content: '';
    height: 30vmin;
    left: -10vmin;
    opacity: .25;
    position: absolute;
    width: 30vmin;
}
#what::before {
    background: linear-gradient(-90deg,hsla(332, 100%, 55%, 0), 60%, var(--blue));
    border-radius: 31% 69% 61% 39% / 28% 59% 41% 72%;
    bottom: 5vh;
    content: '';
    height: 30vmin; 
    opacity: .25;
    position: absolute;
    right: 0;
    width: 30vmin;
}
#what .wrap::before {
    background: linear-gradient(-90deg,hsla(332, 100%, 55%, 0), 60%, var(--green));
    border-radius: 82% 18% 54% 46% / 67% 22% 78% 33% ;
    top: 0;
    content: '';
    height: 30vmin; 
    left: 0;
    opacity: .25;
    position: absolute;
    width: 30vmin;
}
#what h4 {
    font-size: 32px;
    padding: 0 0 32px;
    text-align: center;
}
#what .grid > div {
    --ggs: 2;
    align-items: center;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 8px 40px -4px hsla(332, 100%, 55%, 0.25);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px;
}
#what .grid i {
    color: var(--red);
}
#what .grid span {
    display: block;
    font-size: 16px;
    line-height: 1.5; 
}