/*Copyright ©2021 QD [www.qd.ua]*/
body {
    background: slateblue;
}
main {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5vmin;
    width: 100%;
}
.imageSystem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:24px;
}
#abetka ol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    list-style-type: upper-alpha;
    font-size: 10vmin;
}
.columns {
    display: flex;
    flex-direction: row;
    gap: 5vmin;
}
.columns > * {
    background: springgreen;
}